<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-between align-items-center">
       <a class="text-decoration-none text-light" href="https://www.facebook.com/profile.php?id=61587176023877"><img class="img-fluid" src="/imagenes/facebook.png" alt="" style="max-width: 40px;"><span class="fs-4"> Rifas Para Ti</span> </a>

        <a class="text-decoration-none text-light" href="https://api.whatsapp.com/send?phone=16475814283"><img class="img-fluid" src="/imagenes/whatsapp.png" alt="" style="max-width: 40px;"> <span class="fs-4">+1 (647) 581-4283</span></a>

    </div>
</footer>