<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm" >
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/imagenes/IMG_20260214_170831_411-removebg-preview.png" alt="" width="60" height="54">
        </a>
        <a class="navbar-brand text-light mx-0 fs-3" href="#">Rifas Para Ti</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link fs-5 px-3" href="/">Inicio</a>
                <a class="nav-link fs-5 px-3" href="/tickets">Tickets</a>
                <a class="nav-link fs-5 px-3" href="/Metodos">Métodos de Pago</a>
                
                <% if (user && user._id) { %>
                    <a class="nav-link fs-5 px-3" href="/admin/panel">Panel de Control</a>
                    <a class="nav-link fs-5 px-3" href="/admin/logout">Cerrar Sesión</a>
                <% } else { %>
                    <a class="nav-link fs-5 px-3" href="/admin/login">Admin</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>